
@import url('https://fonts.googleapis.com/css?family=Inter:400,700&display=swap');
* {
    font-family: "Inter";
  }
/* body{
    background-color: #dfc42b;
} */
.login-background {
    /* position: fixed; */
    /* background-color: #dfc42b; */
    /* background: linear-gradient(to bottom, #dfc42b, #fff997); */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    height: 100px;
}
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    align-items: center;
    background: #ffffff;
    width: 500px;
    height: auto;
    /* position: fixed; */
    /* top: 55%;
    left: 50%;
    transform: translate(-50%, -50%); */
    border-radius: 15px;
    border: 1px solid #C4A484;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.header{
    font-size: 35px;
    font-weight: 700;
}
.login-title{
    display: flex;
    flex-direction: column;
    gap: 9px;
    width: 100%;
    margin: auto;
    width: 400px;
    height: 80px;
    margin-bottom: 18px;
    
}
.user-input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    width: 400px;
    height: 75px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.user-input input{
    height: 40px;
    width: 400px;
    background: #eaeaea;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px; 
}
.user-input input:focus {
    border: 1px solid #C4A484; /* Default border color */
    transition: border-color 0.3s;
}
.login-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 30px auto;
}
.login-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 45px;
    color: #fff;
    background:#C4A484;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    border: none;
}
.login-button:hover {
    background-color: #A68964; /* Change to a slightly darker brown on hover */
}
.user-input label{
    margin-bottom: 5px;
    font-size: 15px;
    
}
.account-signup{
    display: flex;
    align-items: flex-start;
    margin: auto;
    width: 400px;
    /* height: 80px; */
    height: 40px;
    margin-bottom: 10px;
    color: #a0a0a0;
}
.signup-here{
    text-decoration: none;
}
.signup-here:hover{
    text-decoration: underline;
}
